/* Difference between Padding and Margin - Margin is the outer space of an element, while padding is the inner space of the element. */ 

*
{
    margin: 0;
    padding: 0;
    font-family: ubuntu;
}

/* Navigation Bar */
#nav-bar
{
    /* Sticky postition is a hybrid of relative and fixed positioning. The element is treated as relative positioned unitl it crosses a specified threshold, at which point it is treated as fixed positioned. */
    position: sticky;
    top: 0;
    /* Z-index property specifies the stack order of an element. An element with greatere stack order is always in front of an element with a lower stack order. */
    z-index: 10;
}

.navbar-brand
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}


.navbar-nav li a
{
    /* Float property can be used to align an entire block element to the left or right such that other content flows around it. */
    float: right;
    /* Text-align property is used to define whether the content of a block element is aligned to the left, right, in the center or justified to both margins. */
    text-align:left;
}

#nav-bar ul li a:hover
{
    color: #007bff;
    /* Overriding Bootstrap Classes */
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none; 
    /* Overriding Bootstrap Classes */
}

.nav-link
{
    /* Overriding Bootstrap Classes */
    color: #555;
    /* Font Weight property sets how thick or thin characters in text should be displayed. */
    font-weight: 600;
    font-size: 16px;
}

/*-- Slider --*/
#slider
{
    width: auto;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    /* Overriding Bootstrap Classes */
    bottom: initial;
}

.carousel-caption h5
{
    color: #fff;
    font-size: 32px;
}

/*-- About --*/
#about
{
    padding-top: 50px;
    padding-bottom: : 50px;
    color: #555;
    
}

#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content
{
    padding-top: 20px;
}

.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar
{
    border-radius: 16px;
}

.progress
{
    border-radius: 16px;
    margin-bottom: 20;
}

/*-- Services --*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    background-size: : cover;
    background-position: center;
    /* Overriding Bootstrap Classes */
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h3
{
    text-align: center;
    /* Overriding Bootstrap Classes */
    color: #efefef;
    padding-bottom: 10px;
}

#services h3::after
{
    content: '';
    /* Overriding Bootstrap Classes */
    background: #efefef;
    display: block;
    height: 2px;
    width: 120px;
    margin: 10px auto 5px;
}

.services
{
    margin-top: 40px;
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p
{
    font-size: 16px;
    margin-top: 10px;
    color: #ccc;
}

.services .col-md-3:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.65s;
}

/*-- Team Members --*/
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

h3
{
    text-align: center;
    /* Overriding Bootstrap Classes */
    color: #555;
    padding-bottom: 10px;
}

h3::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 2px;
    width: 120px;
    margin: 10px auto 5px;
}

.profile-pic
{
    margin-top: 25px;
}

.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h5
{
    font-weight: bold;
    margin-top: 15px;
}

.profile-pic h6
{
    font-weight: bold;
    margin-top: 15px;
}

.profile-pic p
{
    margin-top: 15px;
}

#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff;
    background:#fff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 35%;
    transform: translateY(-10%);
    opacity: 0;
}

.img-box ul li
{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul
{
    opacity: 1;
}

.img-box ul, img-box ul li
{
    transition: 0.5s;
}

/*-- Contact Us --*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form
{
    padding: 15px;
}

.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa
{
    margin: 10px;
    color: #007bff;
}